.blanc {
  background-color: rgb(255, 255, 255);
}

.vert {
  background-color: rgb(150, 255, 150);
}

.rouge {
  background-color: rgb(255, 150, 150);
}

.select {
  background-color: rgb(255, 255, 120);
}